.primary-button {
  background-color: #5C4AEA;
  position: static;
  width: 124px;
  height: 50px;
  left: 32px;
  top: 12px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */


  color: #FFFFFF;


  /* Inside Auto Layout */

  flex: none;
  order: 0;
  align-self: left;
  margin: 10px 0px;
}

.primary {
  background-color: #5C4AEA;
}

.username {

position: absolute;
width: 199px;
height: 47px;
left: 121px;
top: 164px;

/* H1 */

font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 47px;
/* identical to box height */

letter-spacing: 0.05em;

color: #5C4AEA;
}

.secondary-button {
  background-color: #5C4AEA;
  position: static;
  width: 124px;
  height: 40px;
  left: 32px;
  top: 12px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */


  color: #FFFFFF;
  border: 2px solid #5C4AEA;


  /* Inside Auto Layout */

  flex: none;
  order: 0;
  align-self: left;
  margin: 10px 0px;
}

.search-button {

background-color: #FFFFFF;
  position: static;
  width: 124px;
  height: 40px;
  left: 32px;
  top: 12px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */


  color: #5C4AEA;
  border: 2px solid #5C4AEA;


  /* Inside Auto Layout */

  flex: none;
  order: 0;
  align-self: left;
  margin: 10px 0px;
}

/* .logo {
position: absolute;
width: 60px;
height: 50px;
left: 149px;
top: 0px;
} */
